/*
 * Name : AddUser.js
 * Author : Katpally Sravya, Vinusha Sandadi
 * Description : This is CSS page which applies style for all pages
 * Date of initiation : 04/02/2020
 * */

@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css');
@import url('https://code.jquery.com/jquery-3.2.1.slim.min.js');
@import url('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js');



button{
    margin-right: 40px;
    height: 40px;
  }

h1{
  float: center;
}

.mainSubmit{
  color: white;
  align-content: flex-end;

}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
  align-items: center;
  align-self: center;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  align-items: center;
  align-self: center;
}
.PageSwitcher{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: right;
  align-items: right; 
  align-self: right;
}

.Container-fluid{
  width: 100%;
  height: 100%;
  
}

button
{
  background-color: #85C440;
}




