@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css');
@import url('https://code.jquery.com/jquery-3.2.1.slim.min.js');
@import url('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js');



*{
  text-transform: capitalize;
}

.h3{
    color: rgb(12, 12, 12);
}

nav{
  height: 10%;
  background-color: #85C440;
} 

button
{
  background-color: #85C440;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  text-align: center;
  align-items: center;
  align-self: center;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: center;
  align-items: center;
  align-self: center;
}
.welcome{

  text-align: center;
}

.PageSwitcher{
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: right;
  align-items: right; 
  align-self: right;
}

.Container-fluid{
  width: 100%;
  height: 100%;
}

b1{
  margin-right: 10px;
}






